:root {
	--vp-c-brand-1: #ffbd30;

	--vp-c-brand-1-dark: #ffb730;
	--vp-c-brand-2: #996d1b;
	--vp-c-brand-darker-1: #352506;
	--vp-c-brand-darkest-1: #fba748;
	--vp-c-brand-light-1: #fbb348;

	--vp-button-brand-bg: #f59a12;
	--vp-button-brand-hover-bg: #c58019;
}
